.class-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(53, 53, 53), rgb(6, 5, 5));
}

.class-header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
}

.class-header-container {
  text-align: center;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.class-logo {
  max-width: 200px;
  max-height: 100px;
}

.class-container {
  margin: 50px auto;
  width: 45%;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-form-group {
  margin-bottom: 20px;
}

.class-form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.class-form-group input[type="text"],
.class-form-group input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  color: black;
  border-radius: 5px;
}

.class-checkbox-group input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.class-checkbox-group label {
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.class-center-button {
  text-align: center;
}

.class-center-button input[type="submit"] {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: green;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.class-center-button input[type="submit"]:hover {
  background-color: green;
}

.class-oval-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
  cursor: pointer;
}

.class-oval-button img {
  max-width: 50%;
  max-height: 50%;
}
